:root.dark {
  --text-0: rgba(255, 255, 255, 87%);
  --text-1: rgba(255, 255, 255, 60%);

  --bg-0: #17120b;
  --bg-1: #373025;
  --bg-2: rgba(23, 23, 23, 100%);
  --bg-code: rgba(0, 0, 0, 10%);

  --primary-color: #cd7c3d;
  --hover-color: white;

  .social>img {
    filter: invert(1);
  }
}
