:root.dark {
  --text-0: rgba(255, 255, 255, 87%);
  --text-1: rgba(255, 255, 255, 60%);

  --bg-0: #17120b;
  --bg-1: #373025;
  --bg-2: rgba(23, 23, 23, 100%);
  --bg-code: rgba(0, 0, 0, 10%);

  --primary-color: #cd7c3d;
  --hover-color: white;

  .social>img {
    filter: invert(1);
  }

  .navbar {
    position: fixed;
    display: flex;
    top: 0;
    width: 75%;
    background-color: #17120b;
    z-index: 1000; /* Ensures the navbar stays above other content */
}

.content {
  margin-top: 60px; /* Adjust this value to match your navbar's height */
}

body {
  margin-top: 60px; /* Adjust this value to match your navbar's height */
}

  table {
    border-collapse: collapse;
    width: 100%;
    border: 0.5px solid rgb(59, 29, 29); /* Change gray to your desired color */
  }
  
  th, td {
    border: 1px solid rgb(65, 35, 6); /* Change gray to your desired color */
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #271e0e; /* Optional: Header background color */
  }

.sidebar {
  width: 270px;
  position: fixed;
  left: -270px; /* Sidebar hidden initially */
  top: 0;
  height: 100%;
  background-color: #0b0908;
  padding: 20px;
  overflow-y: auto;
  transition: left 0.3s ease; /* Smooth transition */
}

.sidebar.visible {
  left: 0; /* Sidebar is visible */
}

.sb-toggle-button {
background-color: #0b0908;
position: absolute;
border: none;
color: white;
width: 50px;
border: none;
height: 40px;
cursor: pointer;
font-size: 30px;
top: 10px;
left: 270px;
z-index: 1100; /* Ensure the button is above other elements */
transition: right 0.3s ease; /* Smooth transition */
}

.sidebar.visible .sb-toggle-button {
right: -50px; /* Adjust if needed */
}

.table-of-contents ul {
    list-style: none;
    padding-left: 0;
}

.table-of-contents li {
    margin-bottom: 10px;
}

.table-of-contents a {
    text-decoration: none;
    color: #d6dcdf;
}

.table-of-contents a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .sidebar {
      display: none;
  }
  .content {
      margin-left: 0;
  }
}

}
