:root.light {
  --text-0: rgba(0, 0, 0, 87%);
  --text-1: rgba(0, 0, 0, 66%);

  --bg-0: #f4e8d9;
  --bg-1: #e5b97b;
  --bg-2: #fefefe;
  --bg-code: #282A36;

  --primary-color: #f0a461;
  --hover-color: white;

  // invert colour on hover for consistency 
  .social :hover {
    filter: invert(1)
  }
}