{% import "macros/macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="en">
<html class="dark light">

{% include "partials/header.html" %}

<body>
    <div class="content">
        {% include "partials/nav.html" %}

        {# Post page is the default #}
        {% block main_content %}
            Nothing here?!
        {% endblock main_content %}
        {% if page.extra.comment is defined %}{% set show_comment = page.extra.comment %}{% else %}{% set show_comment = config.extra.comment %}{% endif %}
        {% if show_comment %}
        <div class="giscus"></div>
        {% include "_giscus_script.html" %}
        {% endif %}
    </div>
    <div class="sidebar" id="sidebar">
        <button id="sidebarToggle" class="sb-toggle-button">☰</button>
        {% block sidebar_content %}
        {% endblock sidebar_content %}
        <blockquote>
            "Success is no accident. It is hard work, perseverance, learning, studying, sacrifice and most of all, love of what you are doing or learning to do." — Pelé
        </blockquote>
    </div>
    <script src="/myblog/js/sb-toggle.js"></script>
</body>

</html>
