{% import "macros/macros.html" as post_macros %}

{% extends "base.html" %}

{% block main_content %}
    {{ post_macros::content(page=page)}}
{% endblock main_content %}

{% block sidebar_content %}
    {% if page.toc %}
        <nav class="table-of-contents">
            <ul>
                {% for h1 in page.toc %}
                    <li>
                        <a href="{{ h1.permalink }}">{{ h1.title }}</a>
                        {% if h1.children %}
                            <ul>
                                {% for h2 in h1.children %}
                                    <li>
                                        <a href="{{ h2.permalink }}">{{ h2.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
{% endblock sidebar_content %}